* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 70px;
    display: flex; 
    /* make the inside stuff fix the boundary */
    padding: 2px 22px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.bold {
    font-weight: bold;
}

.gray {
    color: #918E9B;
}

section {
    padding: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero--photo {
    max-width: 400px;
    align-self: center;
}

.hero--header {
    margin-bottom: 16px;
}

.hero--text {
    margin-top: 0;
}


.cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    overflow-x: auto;
}

.card {
    width: 175px;
    font-size: 14px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
    position: relative;
}

.card--image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 12px;
}

/* ADD */
.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
}

/* ADD */
.card--price {
    margin-top: auto;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}

/* flexbox picture */
.container {
    display: flex;
    flex-wrap: wrap;
}


.container > div > img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.container > .normal {
    flex: 1 1 100px;
}

.container > .big {
    flex: 1 1 200px;
}















.contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.contact-card {
    flex-basis: 225px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    padding-bottom: 20px;
    background-color: white;
}

.contact-card > img {
    width: 100%;
    height: auto;
    align-self: center;
    border-radius: 5px;
    object-fit: cover;
}

.contact-card > h3 {
    font-weight: 700;
    font-size: 18px;
}
